
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Onest:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    color: #09090B;
    font-weight: bold;
    border-bottom: 2px solid #09090B;
}
li:hover{
    color: #09090B;
    font-weight: bold;
    

}



.hovereffect{
    color: #09090B;
}
.hovereffect:hover{
    color: white;
}